In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [1]:
import os, sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

from src import cleaning_functions as cfs
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

In [2]:
df = cfs.cleaned_dataframe()

In [3]:
df.head()

,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,target
building_id,,,,,,,,,,,,,,,,,,,,,
120101000011,12,1207,120703,1,9,288,9,flat,other,bamboo_or_timber_light_roof,...,0,0,0,0,0,0,0,0,0,2.0
120101000021,12,1207,120703,1,15,364,9,flat,other,bamboo_or_timber_light_roof,...,0,0,0,0,0,0,0,0,0,3.0
120101000031,12,1207,120703,1,20,384,9,flat,other,bamboo_or_timber_light_roof,...,0,0,0,0,0,0,0,0,0,1.0
120101000041,12,1207,120703,1,20,312,9,flat,other,bamboo_or_timber_light_roof,...,0,0,0,0,0,0,0,0,0,1.0
120101000051,12,1207,120703,1,30,308,9,flat,other,bamboo_or_timber_light_roof,...,0,0,0,0,0,0,0,0,0,1.0

In [4]:
df.shape

(762093, 39)

In [5]:
y = df['target']
X = df.drop('target', axis=1)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2015, test_size = .2)

In [7]:
X_train.shape

(609674, 38)

In [8]:
X_test.shape

(152419, 38)

In [9]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, random_state = 2015, test_size = .25)

In [10]:
X_tr.shape

(457255, 38)

In [11]:
X_val.shape

(152419, 38)

In [12]:
y_tr.value_counts(normalize=True)

3.0    0.602924
1.0    0.218058
2.0    0.179018
Name: target, dtype: float64

In [13]:
y_val.value_counts(normalize=True)

3.0    0.602891
1.0    0.217283
2.0    0.179827
Name: target, dtype: float64

In [14]:
y_test.value_counts(normalize=True)

3.0    0.603783
1.0    0.218116
2.0    0.178101
Name: target, dtype: float64

class imbalance issue: can uae SMOTE or balanced class weights option in the models

In [15]:
X_tr.head()

,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
314006030291,31,3102,310204,2,22,280,14,flat,bamboo_or_timber,bamboo_or_timber_light_roof,...,0,1,0,0,0,0,0,0,0,0
214609000051,21,2106,210605,2,25,200,14,flat,mud_mortar_stone_or_brick,bamboo_or_timber_light_roof,...,0,0,0,0,0,0,0,0,0,0
303205001021,30,3009,300909,3,30,265,16,flat,mud_mortar_stone_or_brick,bamboo_or_timber_heavy_roof,...,0,0,0,0,0,0,0,0,0,0
230604002521,23,2302,230203,2,25,1000,16,flat,mud_mortar_stone_or_brick,bamboo_or_timber_light_roof,...,0,0,0,0,0,0,0,0,0,0
241108000891,24,2413,241304,3,9,435,20,flat,mud_mortar_stone_or_brick,bamboo_or_timber_heavy_roof,...,0,0,0,0,0,0,0,0,0,0

In [16]:
categorical_feats = X_tr.dtypes[X_tr.dtypes == 'object'].index

In [17]:
def one_hot_encode_feature(df, name):
    """This funciton takes in a dataframe and a feature name and 
    One hot encodes the feature and adds it to the dataframe
    
    Returns transformed dataframe and the ohe object 
    used to transform the frame
    """
    
    ohe = OneHotEncoder(categories='auto', handle_unknown='ignore')
    single_feature_df = df[[name]]
    ohe.fit(single_feature_df)
    feature_array = ohe.transform(single_feature_df).toarray()
    ohe_df = pd.DataFrame(feature_array, columns=ohe.categories_[0], index=df.index)
    df = df.drop(name, axis=1)
    df = pd.concat([df, ohe_df], axis=1)
    
    #returning ohe here so that it can be used to transform X_test later
    return df, ohe

In [18]:
def ohe_all_categorical_features(df):
    """This function takes in a dataframe, identifies the
    dtypes in the dataframe and uses the object dtypes to
    list out categorical columns
    
    Next it use OneHotEncoder to convert those Categorical 
    features
    
    Returns: the transformed dataframe and a dictionary 
    containing the ohe object that can be used later to 
    transform the testing dataset
    """
    
    #use helper function in loop to transform dataframe
    encoders = {}
    
    for name in categorical_feats:
        df, ohe = one_hot_encode_feature(df, name)
        encoders[name] = ohe
    
    return df, encoders

In [19]:
X_tr, encoders = ohe_all_categorical_features(X_tr)

In [20]:
X_tr

,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,multi_projected,others,rectangular,square,t_shape,u_shape,institutional,other,private,public
building_id,,,,,,,,,,,,,,,,,,,,,
314006030291,31,3102,310204,2,22,280,14,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
214609000051,21,2106,210605,2,25,200,14,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
303205001021,30,3009,300909,3,30,265,16,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
230604002521,23,2302,230203,2,25,1000,16,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
241108000891,24,2413,241304,3,9,435,20,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210308000631,21,2107,210704,2,50,364,14,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
303108000461,30,3013,301303,1,4,200,9,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
121308000801,12,1201,120105,2,20,410,10,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
361705000151,36,3607,360705,2,19,495,16,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
230606000661,23,2302,230204,2,18,345,14,1,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [21]:
dt = DecisionTreeClassifier(class_weight='balanced', random_state = 2015)
m1 = dt.fit(X_tr, y_tr)

In [23]:
confusion_matrix(y_tr, m1.predict(X_tr))

array([[ 98886,    783,     39],
       [   119,  81660,     78],
       [   752,   2622, 272316]])

In [24]:
from sklearn.metrics import plot_confusion_matrix

ImportError: cannot import name 'plot_confusion_matrix'